---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com//search?app_id=<EDAMAM_APPLICATION_ID>&app_key=<EDAMAM_APPLICATION_KEY>&from=0&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_APPLICATION_KEY>" ],
            "app_id" : [ "<EDAMAM_APPLICATION_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 01 Nov 2017 00:44:11 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_APPLICATION_ID>&app_key=<EDAMAM_APPLICATION_KEY>&from=0&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_APPLICATION_KEY>" ],
            "app_id" : [ "<EDAMAM_APPLICATION_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 01 Nov 2017 17:46:07 GMT
recorded_with: VCR 3.0.3
