<h1>Gobbler</h1>
<%= render partial: 'search' %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <img alt="<%= recipe.name %>" src="<%= recipe.image_url %>" />
      <%= link_to recipe.name, show_recipe_path(recipe.name) %>
    </li>
  <% end %>
</ul>
