/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  height: 100%;
  padding-bottom: 50px;
}

footer {
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

.row {
  width: 100%;
}

a {
  .login, .logout {
    width: 10em;
  }
  .login {

  }
  .logout {
    border-radius: 2px;
    height: 2em;
  }
}

.half_width {
  margin: auto;
  width: 50%;
}

.home {
  align-items: center;
  background-image: url('/assets/turkey-dinner-setting_4460x4460.jpg');
  background-position: 53% 0%;
  background-repeat: none;
  background-size: cover;
  padding-top: 30vh;
  text-align: center;
  header {
    display: none;
  }
  .homelogin {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  .homecontent {
    .searchbox {
      border-radius: 2px;
      margin-bottom: 0.5em;
      text-align: center;
    }
  }
}
